<div class="container">
  <div class="card-heading">
    <h3 class="title">Merge Request</h3>
  </div>
  <div class="card">
    <br>
    <div class="alinhar">
      <form [formGroup]="MergeForm" class="form">
        <div class="card">
          <div class="card-header">
            <h2>Issue</h2>
          </div>
          <div class="card-body">
            <div class="row align-items-end">
              <div class="form-group col-4">
                <label class="labels">
                  Número
                </label>
                <input class="form-control" formControlName="Issue" placeholder="Ex. 3" type="number" min="1">
              </div>
              <div class="form-group col-4">
                <label class="labels">
                  Lean
                </label>
                <input class="form-control" formControlName="Lean" placeholder="Ex. cc-cons-man-limites" type="text">
              </div>
              <div class="form-group col-3">
                <label class="labels">
                  Developer
                </label>
                <input class="form-control" formControlName="Dev" placeholder="Ex. Thiago Teixeira" type="text">
              </div>
            </div>
            <div class="row align-items-end">
              <div class="form-group col-4">
                <label class="labels">
                  Título da funcionalidade
                </label>
                <input class="form-control" formControlName="Func" placeholder="Ex. Consulta Históricos" type="text">
              </div>
              <div class="form-group col-4">
                <label class="labels">
                  Informações adicionais
                </label>
                <input class="form-control" formControlName="Info" placeholder="Ex. Muitos campos" type="text">
              </div>
            </div>
          </div>
        </div>
        <hr class="hr">
        <div class="card">
          <div class="card-header">
            <h2>Siglas</h2>
          </div>
          <div class="card-body">
            <div formArrayName="Siglas" *ngFor="let item of Siglas.controls; let i = index;">
              <div [formGroupName]="i">
                <div class="row">
                  <h4 class="subtitles">Sigla {{i + 1}}</h4>
                </div>
                <div class="row align-items-end">
                  <div class="form-group col-3">
                    <label class="labels" for="{{'usuario' + i}}">
                      Usuário
                    </label>
                    <input class="form-control" aria-label="Usuario" id="{{'usuario' + i}}" formControlName="usuario"
                      placeholder="Ex. AH1ASDASD">
                  </div>
                  <div class="form-group col-3">
                    <label class="labels" for="{{'senha' + i}}">
                      Senha
                    </label>
                    <input class="form-control" aria-label="Senha" id="{{'senha' + i}}" formControlName="senha"
                      placeholder="Ex. Santander17">
                  </div>
                  <div class="form-group col-4">
                    <label class="labels" for="{{'obs' + i}}">
                      Observação
                    </label>
                    <input class="form-control" aria-label="Senha" id="{{'obs' + i}}" formControlName="observacao"
                      placeholder="Ex. Possui autorização">
                  </div>
                  <div class="col-2" *ngIf="Siglas.length == i+1">
                    <div>
                      <button class="btn btn-main" style="margin-bottom: 1rem" (click)="addSigla()"
                        id="botaosigla + i">+ sigla</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="hr">
        <div class="card">
          <div class="card-header">
            <h2>Massas</h2>
          </div>
          <div class="card-body">
            <div formArrayName="Massas" class="labels" *ngFor="let item of Massas.controls; let i = index;">
              <div [formGroupName]="i">
                <div class="row">
                  <h4 class="subtitles">Massa {{i + 1}}</h4>
                </div>
                <div class="row align-items-end">
                  <div class="form-group col-3">
                    <label for="{{'cpf' + i}}">
                      CPF/CNPJ
                    </label>
                    <input class="form-control" aria-label="CPF/CNPJ" id="{{'cpf' + i}}" formControlName="cpf"
                      placeholder="Ex. 0138340433" type="text" min="0"
                      onkeypress="return (event.charCode>=48 && event.charCode<=57)">
                  </div>
                  <div class="form-group col-2">
                    <label for="{{'banco' + i}}">
                      Banco
                    </label>
                    <input class="form-control" aria-label="Banco" id="{{'banco' + i}}" formControlName="banco"
                      placeholder="Ex. 0033" min="0" onkeypress="return (event.charCode>=48 && event.charCode<=57)">
                  </div>
                  <div class="form-group col-2">
                    <label for="{{'agencia' + i}}">
                      Agência
                    </label>
                    <input class="form-control" aria-label="Agencia" id="{{'agencia' + i}}" formControlName="agencia"
                      placeholder="Ex. 0001" min="0" onkeypress="return (event.charCode>=48 && event.charCode<=57)">
                  </div>
                  <div class="form-group col-2">
                    <label for="{{'conta' + i}}">
                      Conta
                    </label>
                    <input class="form-control" aria-label="Conta" id="{{'conta' + i}}" formControlName="conta"
                      placeholder="Ex. 00000000000" onkeypress="return (event.charCode>=48 && event.charCode<=57)">
                  </div>
                  <div class="form-group col-3">
                    <label for="{{'observacao' + i}}">
                      Observação
                    </label>
                    <input class="form-control" aria-label="Observação" id="{{'observacao' + i}}"
                      formControlName="observacao" placeholder="Ex. Possui Saldo">
                  </div>
                  <div class="col-2" *ngIf="Massas.length == i+1">
                    <div>
                      <button class="btn btn-main" (click)="addMassa()"
                        id="botaomassa + i">+ massa</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="hr">
        <div class="card">
          <div class="card-header">
            <h2>Telas</h2>
          </div>
          <div class="card-body">
            <div formArrayName="Telas" class="labels">
              <div *ngFor="let tela of Telas.controls; let i = index;">
                <div [formGroupName]="i">
                  <div class="row">
                    <h4 class="subtitles">Tela
                      {{tela.value.codigo}}{{tela.value.codigo && tela.value.titulo ?': ' + tela.value.titulo : tela.value.titulo }}
                    </h4>
                  </div>
                  <div class="row align-items-end">
                    <div class="form-group col-3">
                      <label for="{{'codigo' + i}}">
                        Código
                      </label>
                      <input class="form-control" aria-label="Codigo" id="{{'codigo' + i}}" formControlName="codigo"
                        placeholder="Ex. BRPC005" type="text">
                    </div>
                    <div class="form-group col-4">
                      <label for="{{'titulo' + i}}">
                        Titulo
                      </label>
                      <input class="form-control" aria-label="Titulo" id="{{'titulo' + i}}" formControlName="titulo"
                        placeholder="Ex. Consulta saque" type="text">
                    </div>
                    <div class="form-group col-4">
                      <label for="{{'observacao' + i}}">
                        Observação
                      </label>
                      <input class="form-control" aria-label="Observação" id="{{'observacaoTela' + i}}"
                        formControlName="observacao" placeholder="Ex. Acessivel por BRPC004" type="text">
                    </div>
                  </div>
                  <div formArrayName="validacoes">
                    <div *ngFor="let val of tela.get('validacoes').controls; let x = index">
                      <div class="row align-items-end">
                        <div class="form-group col-8">
                          <label for="{{'validacao' + x}}">
                            Validação
                          </label>
                          <input class="form-control" aria-label="Validação" id="{{'val' + x}}" [formControl]='val'
                            placeholder="Ex. Acessivel por BRPC004" type="text">
                        </div>
                        <div class="col-3 align-items-end" *ngIf="tela.get('validacoes').controls.length == x+1">
                          <div>
                            <button class="btn btn-main" style="margin-bottom: 1rem"
                              (click)="createValidacao(tela.get('validacoes'))" id="botaovalidacao">+ validação</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="align-items-end">
                      <div class="col-2">
                        <div>
                          <button class="btn btn-main" (click)="addTela()"
                            id="botaoadicionartela">+ tela</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-secondary" (click)="onSubmit()">Submit</button>
      </form>
      <div class="forever-alone">
        <hr class="hr">
        <div class="card">
          <div class="card-header">
            <h2>Seu Merge Request</h2>
          </div>
          <div class="card-body">
            <div class="form-group col-10">
              <label for="merge" class="labels">
                Merge Request
              </label>
              <textarea class="form-control" id="merge">{{result}} </textarea>
            </div>
          </div>
        </div>

        <!-- Não insira uma </div> aqui! -->
      </div>
    </div>
  </div>
